const storageUserCredentialsPath = "storage/user/credentials";
const authorizedCredentials = """
[{"email": "felipe.carneiro@wapet.com.br"},{"email": "carlos.ferreira@wapet.com.br"},{"email": "claudia.lima@wapet.com.br"},{"email": "david.camargo@wapet.com.br"},{"email": "andreia.silva@wapet.com.br"}]
""";

const apiSecret = '';
const apiLanguage = '';
const baseDogUrl = 'https://api.thedogapi.com/v1/breeds';
const baseCatUrl = 'https://api.thecatapi.com/v1/breeds';
